:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(206, 33%, 96%);
  --clr-white: #fff;
  --clr-dark-mode: #12181b;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.nav-container {
  /* background: #fffffa; */
  /* background-image: url("/images/navbar.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* background-size: conver; */
  /* box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1); */
  background-color: var(--clr-dark-mode);
  height: 72px;
  margin-top: -65px;
  z-index: 500;
  position: relative;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

nav ul {
  display: flex;
}

nav li button {
  border: none;
  background-color: transparent;
  color: var(--clr-grey-10);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0;
}

.nav-container .logo {
  font-family: Rosmatika, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: var(--clr-grey-3);
  text-decoration: none;
}

.nav-items li {
  list-style: none;
  margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li a {
  color: var(--clr-grey-10);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* Search Box */

.search-box {
  width: 1200px;
  margin: 0 auto;
  text-align: right;
  position: relative;
  top: 0;
  z-index: 101;

  transition: 300ms;
}

.search-box.active {
  top: 72px;
}

.search-box input {
  background: var(--clr-grey-3);
/*   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); */
  border-radius: 0px 0px 8px 8px;

  font-size: 24px;
  line-height: 40px;
  border: 0;
  padding: 12px 48px;
}

.search-box input::placeholder {
  color: #b3b3b3;
}

/* Search & Close Buttons */

.nav-btn-container {
  display: flex;
  position: relative;
}

.nav-btn-container img {
  position: absolute;
}

.nav-btn-container .close-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: 300ms;
}

.nav-btn-container .search-btn {
  pointer-events: auto;
  /* padding: 3px 0 0 0; */
  top: 3px;
  height: 2rem;
  transition: 300ms;
}

.nav-btn-container.active .search-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
}

.nav-btn-container.active .close-btn {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
