<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
    <title>Add Friends</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div
      class="max-w-6xl mx-auto bg-neutral p-4 md:p-8 w-full flex flex-col gap-4"
    >
      <div>
        <h2 class="text-2xl text-black font-bold">Add Friends</h2>
        <!-- form to send friend request to another user -->
        <form id="requestForm" method="POST" action="/friends/sendRequest">
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Username</span>
            </label>
            <input
              name="username"
              type="text"
              placeholder="Type here"
              class="input input-bordered w-full max-w-xs"
            />
            <label class="label">
              <span class="label-text"><%= message %></span>
            </label>
          </div>
          <button type="submit" class="btn btn-primary mt-4">
            Send Request
          </button>
        </form>
      </div>
      <div>
        <a href="/friends" class="btn btn-primary">Back to Friends</a>
      </div>
      <div>
        <a href="/" class="btn btn-primary">Back to Home</a>
      </div>
    </div>
  </body>
</html>
