<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style/addFriends.css" />
    <title>Add Friends</title>
  </head>
  <body>
    <div class="container">
      <h2>Add Friends</h2>
      <!-- form to send friend request to another user -->
      <form id="requestForm" method="POST" action="/friends/sendRequest">
        <label for="friendUsername">Friend's Username</label>
        <input
          type="text"
          name="friendUsername"
          id="friendUsername"
          placeholder="write username"
          autocomplete="off"
          required
        />
        <button type="submit">Send Friend Request</button>
      </form>
      <% if(message) {%>
      <p><%= message %></p>
      <% } %>
      <div class="mt-5">
        <a href="/friends" class="btn">Back to Friends</a>
      </div>
      <div class="mt-5">
        <a href="/" class="btn">Back to Home</a>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
