<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
    <title>Welcome</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="p-4">
      <h1 class="text-3xl">Welcome to the home page</h1>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
