<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
    <title>Sign in Form</title>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <div class="p-4">
      <div
        class="p-4 justify-center md:p-8 max-w-3xl rounded-xl mx-auto bg-neutral"
      >
        <form action="/auth/login" method="post">
          <h1 class="text-3xl">Sign in</h1>
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Email</span>
              <% if(message) {%>
              <span class="label-text-alt text-error"><%= message%></span>
              <% } %>
            </label>
            <input
              name="email"
              type="email"
              placeholder="Email"
              class="input input-bordered w-full"
              required
            />
          </div>
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input
              name="password"
              type="password"
              placeholder="Password"
              class="input input-bordered w-full"
              required
            />
          </div>
          <button type="submit" class="btn btn-base-100 w-full mt-4">
            Sign in
          </button>
        </form>
        <div class="mt-2">
          Don't have an account?
          <a class="text-primary" href="/auth/signup">Sign Up </a>
          here!!!.
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
