<div class="navbar bg-black">
  <div class="flex-1 justify-start content-center">
    <a href="/" class="btn btn-ghost normal-case text-xl pb-1 text-primary">
      <img src="/images/search-icon-white.svg" alt="Logo" class="h-32 w-32" />
    </a>
    <div class="flex content-between">
      <div class="hidden sm:block">
        <a href="/friends" class="btn btn-ghost capitalize ml-2 text-xl">
          friends
        </a>
      </div>
      <% if(user) { %>
      <a href="/auth/logout" class="btn btn-ghost capitalize ml-2 text-xl">
        Logout
      </a>
      <% }%>
    </div>
  </div>
</div>
